@use '@styles/_variables.scss' as vars;

.card-content {
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 0;

  &.open {
    max-height: clamp(100%, 100%, 192px);
    padding: 16px;
  }
}

mat-option:hover, mat-option:focus {
  background-color: #E0F2FE !important; /* Tailwind's sky-300 */
}