@if (isSupplyIdValid()) {

  <div class="shadow-lg rounded-lg overflow-hidden bg-white">
    <div
      class="p-4 flex items-center justify-between"
      (click)="toggleAccordion()"
    >
      <div id="card-header-content">
        <h2 class="text-xl font-semibold m-0">{{ supply().address }}</h2>
        <p class="text-sm mt-1 mb-1">
          <span class="nis">NIS: {{ supply().nis }}</span>
          <span class="mr-2 ml-2">|</span>
          <span class="alias">Alias: {{ supply().alias }} </span>
        </p>
        <div class="mt-2">
          @for (tag of supply().tags; track $index) {
          <span
            class="inline bg-gray-100 text-gray-700 pt-1 pb-1 pl-2 pr-2 mr-1 rounded-xs text-xs"
            >{{ tag.text }}</span
          >
          }
        </div>
      </div>
  
      <div id="selector-buttons">
        <button mat-icon-button class="" (click)="openSuplyMenu()">
          <mat-icon>settings</mat-icon>
        </button>

        @if (hasLinkedSupplies()) {
          <button class="">
            @if (isOpen) {
            <mat-icon>expand_less</mat-icon>
            } @else {
            <mat-icon>expand_more</mat-icon>
            }
          </button>
        } 
        
      </div>
    </div>

    @if (hasLinkedSupplies()) {
      <div class="flex overflow-hidden bg-blue-200 card-content" [class.open]="isOpen">
        <!-- We use the Input Suggest for Linked supply template-->
        @if (hasLinkedSuppliesAboveThreshold()) {
          <ng-container *ngTemplateOutlet="LinkedSuppliesSearchTemplate" ></ng-container>
        } 
        <!-- We use the Linked supply template-->
        @else {
          @for (linkedSupply of supply().linkedSupplies; track $index) {
            <ng-container *ngTemplateOutlet="LinkedSupplyTemplate; context: { $implicit: linkedSupply }" ></ng-container>
          }
        }
      </div>
    }
    
  </div>

} 
@else {
  <div class="shadow-lg rounded-lg overflow-hidden bg-white">
    <div class="p-4 flex items-center justify-between">
      <h2 class="text-xl font-semibold m-0">No hay suministro</h2>
    </div>
  </div>
}

<ng-template #LinkedSupplyTemplate let-linkedsupply>
  <div class="shadow-lg rounded-lg overflow-hidden bg-white">
    <h3>Suministro</h3>
    <h2 class="text-xl font-semibold m-0">{{ linkedsupply.address }}</h2>
    <p class="text-sm mt-1 mb-1">
      <span class="nis">Localidad: {{ linkedsupply.area }}</span>
      <span class="mr-2 ml-2">|</span>
      <span class="alias">Alias: {{ linkedsupply.alias }} </span>
    </p>
  </div>
</ng-template>

<ng-template #LinkedSuppliesSearchTemplate>
  <input type="text" placeholder="Buscar suministro" class="w-full p-2 border rounded" />
</ng-template>