<!-- Header -->
<header class="header">
  
</header>

<!-- Content -->
<div class="flex flex-wrap items-start px-8 py-4">

  <div class="flex justify-end basis-full p-4">
    <button mat-icon-button class="mr-2 border border-gray-500 rounded-md w-11 h-11 flex items-center justify-center">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="border border-gray-500 rounded-md w-11 h-11 flex items-center justify-center">
      <mat-icon>notifications_none</mat-icon>
    </button>
  </div>

  <div class="flex-grow">
    <!--No Linked Supply-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD">
    </app-card-selector>

    <!--Main Supply-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD"
      [suppliesData]="mainSupplyData">
    </app-card-selector>

    <!--Main Supply + 2 Linked Supplies-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD"
      [suppliesData]="mainSupplyTwoLinkedData">
    </app-card-selector>

    <!--Main Supply with many Linked Supplies-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD"
      [suppliesData]="mainSupplyManyLinkedData">
    </app-card-selector>
  </div>

  <button class="px-4 py-8 flex flex-col items-center m-4 bg-[#0066cc] rounded-[25px] text-white justify-center cursor-pointer" aria-label="">
    <mat-icon class="mb-2">add</mat-icon>
    <span class="fab-text">Asociar<br />Suministro</span>
  </button>

</div>


