<!-- Header -->
<header class="header">
  <div class="header-actions">
    <button class="icon-button">
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
    <button class="icon-button">
      <fa-icon [icon]="['fas', 'bell']"></fa-icon>
    </button>
  </div>
</header>

<!-- Content -->
<div class="content">

    <!--No Linked Supply-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD">
    </app-card-selector>

    <!--Main Supply-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD"
      [suppliesData]="mainSupplyData">
    </app-card-selector>

    <!--Main Supply + 2 Linked Supplies-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD"
      [suppliesData]="mainSupplyTwoLinkedData">
    </app-card-selector>

    <!--Main Supply with many Linked Supplies-->
    <app-card-selector class="m-4" 
      [linkedSuppliesThreshold]="LINKED_SUPPLIES_THRESHOLD"
      [suppliesData]="mainSupplyManyLinkedData">
    </app-card-selector>

</div>

<!-- Floating Action Button -->
<button class="fab">
  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
  <span class="fab-text">Asociar<br />Suministro</span>
</button>
