<div class="app-container flex-col lg:flex-row">

  <!-- Top Bar for Mobile -->
  <div class="flex items-center justify-between bg-[#0066cc] text-white px-4 h-16 lg:hidden">
    <!-- Logo -->
    <div class="!m-4 flex items-center">
      <img src="assets/images/logos/storey-logo.png" alt="Storey" class="h-8" />
    </div>

    <!-- Hamburger Icon -->
    <button
      class="!m-4 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
      (click)="isSidebarOpen = !isSidebarOpen"
      aria-label="Toggle Menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  
  <!-- Sidebar -->
  <aside class="hidden lg:flex sidebar" [class.hidden]="!isSidebarOpen">
    <!-- Logo -->
    <div class="logo-container">
      <div class="logo">
        <img src="assets/images/logos/storey-logo.png" alt="Storey" class="logo-image" />
      </div>
      <!-- <div class="collapse-icon">«</div> -->
    </div>

    <!-- Search -->
    <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Buscar" class="search-input" />
    </div>

    <!-- Navigation -->
    <nav class="navigation">
      <a href="#" class="nav-item">
        <span>Texto ejemplo</span>
      </a>

      <div class="nav-section">
        <h3 class="section-title">Servicios</h3>

        <a href="#" class="nav-item active">
          <i class="fas fa-file-alt"></i>

          <span>Texto ejemplo</span>
          <mat-icon>
            expand_less
          </mat-icon>

        </a>

        <a href="#" class="nav-item">
          <span>Texto ejemplo</span>
        </a>
      </div>
    </nav>

    <!-- User Profile -->
    <div class="user-profile">
      <div class="user-info">
        <h4 class="user-name">Emanuel Hernández</h4>
        <p class="user-role">Mi cuenta</p>
      </div>
      <div class="user-avatar">E</div>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet />
  </main>
</div>
